* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

.top1 {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    background-color: black;
    padding-bottom: 15px;
    width: 100%;
    height: 20%;
}
@media (min-width : 350px) and (max-width:420px) {
    .top1 {
        display: flex;
        flex-direction: column;
    }
    .r1{
        width: 200px;
        margin-left: 80px !important;
    }
    body{
        background-color: black;
        overflow-x: hidden;
        width: 100vw;
    }

    .top1 h2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: -90px;
    }

    .opps {
        display: flex;
        justify-content: end;
        margin-right: 20px;
        margin-top: 5px;
        
        
    }
    .opps a{
        margin-left: -9px;
        font-size: 15px !important;
        
    }
 .t6{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
    main {
        display: flex;
        flex-direction: column;
        height: 700px;
        margin-right: 80px;
        width: 200px;

    }

    .txt1{
        width: 350px;
        margin-top: -180px;
        margin-left: -80px !important;
        margin-bottom: -300px;
       
    }
    .l1{
        width: 300px !important;
    }

    .l1 .t1 {
        font-size: 30px;
        margin-top: -300px;
    }

    .l1 .l9 {
        font-size: 38px;
    }

    .t6 {
        width: 200px;
        /* margin-top: -280px; */
    }

    .l1 h2 {
        margin-top: -30px;
        width: 250px;
    }

    .l {
        /* margin-bottom: -220px; */
        width: 100px
    }
    .pic img {
        width: 100%;
        margin-left: -8px;
        margin-bottom: 220px;
    }
    .about{
        display: flex;
        flex-direction: column-reverse;
        margin-top: -100px;
        background-color: black;
    }
  .t2{
    width: 330px;

  }
  .c1{
    font-size: 15px !important;
    width: 350px;
  }
  .c5{
    margin: 60px 0px 0px 140px !important;
  }
  .p1{
    margin-bottom: 100px;
  }
  .social{
    background-color: black;
    margin-top: -150px;
  }
  .socialbar{
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: black;
    justify-content: center;
    align-items: center ;
  }
  .part2{
    height: 1000px;
    background-color: black;
  }
  .part3{
    margin-top: 578px;
    background-color: black !important;
    margin-bottom: -750px;
  }
  .s{
    display: flex;
    width: 50%;
  }
  .s img {
    width: 70px !important;
    height: 70px !important;
    margin-right: -150px;
  }
  .s1,.s2{
    display: flex;
    width: px;
    flex-wrap: wrap;
    background-color: black;
    margin-left: -110px;
    background-color: black;
    
    
  }
  .on,.off{
    margin-left: -20px;
  }
  .f1{
    margin-top: -50px;
  }
  .part4{
    margin-top: 420px;
  }
  .pro{
    display: flex;
    flex-direction: column;
    margin-left: -8px;
    margin-top: -15px;
    background-color: black;
    height: 1180px;
  }
  .pro1 img{
    width: 320px !important;
  }
  .click{
    background-color: black;
    margin-top: -30px;
  }
  .part5{
    margin-top: 600px;
    width: 300px;
  }
  .c3{
    margin-top: -40px;
  }
  .con{
    display: flex;
    flex-direction: column;
  }
.me{
    width: 345px !important;
    margin-left: 20px !important;
    margin-top: 20px !important;
}
.side1{
    margin-left: -65px;
    margin-top: -30px;
}
.side2{
    margin-top: -30px;
}
.email{
    border: 1px solid #fdab05;
    margin-top: 55px !important;
    width: 300px;
    margin-left: 24px !important;
}
.email h3{
    margin-left: -180px;
    margin-top: 70px;
}
}



.top1 h2 {
    margin-left: -100px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.opps {
    margin-left: 350px;
}

.opps a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    font-size: 19px;
    font-weight: 520;

}

.opps a:hover {
    color: #ffbd39;
    text-decoration: underline;
    text-decoration-color: #ffbd39;
    text-decoration-thickness: 2px;
}

.yell {
    color: #ffbd39;
    text-decoration: underline;
    text-decoration-color: #ffbd39;
}

main {
    display: flex;
    justify-content: space-between;
    background-image: url(./images/backport.jpeg);
    width: 100%;
}

.txt {
    margin-top: 200px;
    margin-left: 100px;
}

.l {
    color: #ffbd39;
    margin-top: -10px;
    font-size: 17px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    word-spacing: 8px;
}

.l1 {
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 500px;
}

.t1 {
    font-size: 60px;
    color: #ffbd39;
    font-weight: 550;
    width: 200px;
}

.l2 {
    font-size: 28px;
    font-family: cursive;
    margin-top: 10px;
    margin-bottom: 10px;

}

.l3 {
    margin-top: 20px;
}

.but1 {
    background-color: #ffbd39;
    border-radius: 18px;
    width: 90px;
    height: 36px;
    border: 1px solid #ffbd39;
    color: black;
    font-size: 10px;
    font-weight: 550;
    margin-right: 10px;

}

.but2 {
    background-color: black;
    border-radius: 18px;
    width: 100px;
    height: 36px;
    border: 1px solid white;
    color: white;
    font-size: 10px;
    font-weight: 550;
}

.abouttxt h2 {
    padding-top: 80px;
    color: #ffbd39;
    margin-left: 12px;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 2px;
    word-spacing: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.abouttxt h1 {
    color: grey;
    font-size: 60px;
}

.part2 {
    height: 700px;
    background-color: black;
}

.about {
    display: flex;
    justify-content: center;
    padding-top: 45px;

}

.aboutpic {
    margin-left: 40px;
    margin-top: 45px;

}

.abouttxt p {
    font-size: 20px;
    line-height: 23px;
    margin-top: 50px;
    margin-left: 15px;
}

.social {
    width: 100%;
}

.social h2 {
    font-family: cursive;
    margin-top: 40px;
    text-align: center;
    font-size: 35px;
    text-shadow: 4px 2px rgba(255, 255, 255, 0.227);
}

.socialbar {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.git,
.link {
    display: flex;
}

.bar h3 {
    color: #ffbd39;
    font-size: 28px;
    font-family: cursive;
}

.bar {
    margin-top: 10px;
    margin-left: 30px;
}

.bar button {
    background-color: black;
    border-radius: 18px;
    width: 80px;
    height: 34px;
    border: 1px solid white;
    color: white;
    font-size: 10px;
    font-weight: 550;
    margin-top: 5px;

}

.bar a {
    text-decoration: none;
}

.part3 {
    background-image: url(./images/codeback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
    /* width: 98.82vw; */
    width: 100%;
}

.part3 h2 {
    color: #ffbd39;
    font-size: 30px;
    font-weight: 550;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
    padding-top: 20px;
}

.part3 img {
    width: 100px;
    height: 100px;
    margin-left: 160px;
    margin-top: 20px;
    box-shadow: 2px 2px 12px #ffbd39;
    padding: 5px;
}

.on,
.off {
    margin-top: 75px;
}

.part3 h3 {
    font-size: 25px;
    margin-left: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 1px #ffbd39;
}

.part3 h4 {

    margin-top: 40px;
    margin-left: 540px;
}

.part4 {
    background-color: black;
    height: 100vh;
    width: 100%;
}

.part4 h2 {
    text-align: center;
    font-size: 35px;
    color: #ffbd39;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px white;
    padding-top: 20px;
}

.pro {
    display: flex;
}

.part4 img {
    width: 360px;
    height: 250px;
    border-radius: 30px;
    border: 2px solid #ffbd39;
    box-shadow: 2px 2px 2px #ffbd39;

}

.pro1 {
    margin-left: 45px;
    margin-top: 70px;
}

.pro1 p {
    text-align: center;
    margin-top: 7px;
    font-size: 20px;
}

.name {
    color: #ffbd39;
    font-size: 25px;
    font-weight: bolder;
}

.part5 {
    background-color: black;
    height: 100vh;
    width: 100%;

}

.con {
    display: flex;
}

.me {
    width: 800px;
    background-color: rgba(48, 47, 47, 0.21);
    height: 500px;

    margin-left: 240px;
    border: 2px solid #ffbd39;
    border-radius: 20px;
    box-shadow: 4px 3px #ffbd39;
}

.side1 h1 {
    color: #ffbd39;
    font-weight: bolder;
    margin-top: 80px;
    font-size: 40px;
    margin-left: 150px;
}

.side2 {
    margin-left: 80px;
    margin-top: 80px;
}

input {
    border: none;
    background-color: rgba(48, 47, 47, 0.21);
    border-radius: 20px;
    width: 220px;
    margin-bottom: 15px;
    height: 35px;
}

.but3 {
    background-color: #ffbd39;
    border-radius: 18px;
    width: 90px;
    height: 36px;
    border: 1px solid #ffbd39;
    color: black;
    font-size: 15px;
    font-weight: 550;
    margin-right: 10px;
}

.email {
    display: flex;
    margin-left: 180px;
    margin-top: 30px;
}

.email h2 {
    color: #ffbd39;
    margin-right: 20px;
}

.email i {
    margin-top: 3px;
    margin-right: 7px;

}

.email h3 p {
    margin-top: 2px;
    color: grey;
}

.top {
    text-align: center;

    margin-top: 30px;
}

.top i {
    font-size: 30px;
    color: #ffbd39;
}

.top p {
    font-size: 15px;
    color: red;
}

.t1:hover,
.t2:hover {
    color: red;
    cursor: pointer;
}

.change:hover {
    color: red;
    cursor: pointer;
}

.change {
    text-decoration: none;
    color: #ffbd39;
}

.click {
    text-align: center;
    color: #fdab05;
    font-size: 23px;
    margin-top: 28px;

}

.t4:hover {
    color: red;
    cursor: pointer;
}

.t6:hover {
    color: #fdab05;
    cursor: pointer;
}

